/* *, body, table, #left-aside, #right-aside, #main, #header, #footer, article {
    border: 1px solid black;
} */

html {
    font-size: medium;
    width: fit-content;
}

/* a:link { */

/* 指正常的未被访问过的链接 */

/* text-decoration: none; */

/* color: blue; */

/* } */

a {
    color: blue;
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
    /*指鼠标在链接*/
}

a:active {
    /* 指正在点的链接 */
    color: rgb(247, 0, 255);
}

/* a:visited { */

/* 指已经访问过的链接 */

/* color: darkblue; */

/* } */

.text-decoration-none, #contents a, #about a {
    text-decoration: none;
}

.width-2 {
    width: 2.5rem;
}
.flex{
    display: flex;
}
#about a:hover {
    text-decoration: underline;
}

#about a {
    color: rgb(19, 71, 122);
}

body {
    position: relative;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#header {
    margin: 1rem 1rem 0 1rem;
    /* position: relative; */
    min-width: 96vw;
    height: 2rem;
}

#main {
    /* align-self: flex-start; */
    position: relative;
    min-width: 25rem;
    max-width: 68vw;
    min-height: 70vh;
    margin: 0 1rem 0 1rem;
}

#left-aside, #right-aside {
    /* position: relative; */
    min-width: 12rem;
    width: 14vm;
    max-width: 99vw;
}

#right-aside {
    background-color: inherit;
}

#switch-language {
    position: absolute;
    right: 2rem;
    border: solid darkgray;
}

#switch-language>label {
    text-align: center;
    font-size: 0.9rem;
}

#switch-language-slt {
    font-size: 0.9rem;
}

/* #switch-language-slt:focus, */

#switch-language-slt:hover {
    font-size: 1.1rem;
}

article {
    margin-left: 1px;
    margin-right: 1px;
    /* width: 50vw; */
}

article>header {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 10rem;
}

article>header>div:first-child {
    flex-basis: 18%;
    display: flex;
    justify-content: center;
}

article>header>div:nth-child(2) {
    flex-basis: 60%;
}

article>header img {
    width: 8rem;
    max-height: 8rem;
}

article>header h1 {
    text-align: center;
    margin-left: 1rem;
}

article>section>div {
    margin-left: 2rem;
}

#go-to-top {
    position: absolute;
    width: 3rem;
    /* height: 3rem; */
    right: -3rem;
    bottom: 3rem;
}

#footer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer>div:nth-child(2) {
    font-size: 0.8rem;
    align-self: start;
    margin-left: 4vw;
}

#footer>div {
    margin-right: 15vw;
}

#footer-info {
    size: 1rem;
}

hr {
    width: 100%;
    color: #987cb9;
    size: 3;
}

.icon-link {
    text-decoration: none;
}

.icon {
    height: "2em";
    width: "2em";
    /* vertical-align: -0.15em; */
    /* fill: currentColor; */
    /* overflow: hidden; */
}

.img-text-float-left {
    float: left;
    margin-right: 1rem;
}

.text-indent-2 {
    padding-inline-start: 2rem;
}